<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/permissions">Permissions</a>
        <a href="/parity">Parity</a>
      </div>
    <div class="center-screen">
        <p>This application is a prototype API for specifying permissions and calculating the parity bits.</p>
    </div>
</body>
</html>