<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
</head>
<body>
    <div class="topnav">
        <a  href="/">Home</a>
        <a href="/permissions">Permissions</a>
        <a class="active" href="/parity">Parity</a>
      </div>
      <p>This page demonstrates a prototype API for calculating the parity bits given 4 disk block bits.The parity bits will be displayed below (at center of page)</p>
    <div class="center-screen">
        <h1>{{ message }}</h1>
    </div>
</body>
</html>